@import '../../../styles/globals.scss';

.sider {
  z-index: $secondary-z-index;
  overflow: auto;
  overflow-x: hidden;
}

.siderLeft {
  left: 0;
}

.siderRight {
  right: 0;
}

.searchContainer {
  display: flex;
  padding: 0 0.5rem;
  gap: 4px;
}
