.container {
  overflow: hidden;
  text-align: center;
  border-radius: 0.5rem;
  color: black;
  padding: 0 0 0.5rem 0;
  box-shadow: 0 0 0.6rem #ddddddb3;
  background-color: white;
  cursor: pointer;
}

.button {
  width: 80%;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
