.spinnerContainer {
  background-color: white;
  box-shadow: 0 0 0.6rem #ddddddb3;
  border-radius: 0.5rem;
  max-height: max-content;
  width: 3rem !important;
  height: 3rem !important;
  padding: 0.6rem !important;
}
