@import '../../../styles/globals.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  color: #fff;
}

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.brand {
  width: 300px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.brandImage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  object-fit: contain;
  cursor: pointer;
  padding: 0 1rem;
}

.navBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: $primary-z-index;
  padding: 0;
}

.innerContainer {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-end: 1rem;
}

.avatarContainer {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  transition: 0.3s;
}

.avatarContainer:hover,
.avatarContainer:active {
  cursor: pointer;
}

.userName {
  margin-inline-end: 1rem;
}

.mx1 {
  margin: 0 1rem;
}

.mStart1 {
  margin-inline-start: 0.5rem;
}

.textCenter {
  text-align: center;
}

.mTop1 {
  margin-top: 1rem;
}

.cursorPointer {
  cursor: pointer;
}

.tabs {
  flex: 1 1 0%;
}

.menu {
  display: flex;
  justify-content: center;
}

.logo { 
  height: 100%;
  margin: 0 20px;
}