.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.bg {
  width: 100%;
  height: 100%;
  background: url(/images/background-img.jpg) no-repeat center center fixed;
  background-size: cover;
  object-fit: cover;

  position: absolute;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.card {
  padding: 2rem;
  background: #fff;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.title {
  color: var(--primary) !important;
  text-align: center;
}

.subtitle {
  display: block;
  text-align: center;
}

.form {
  margin-top: 1.5rem !important;
}

.formLabel {
  color: var(--primary);
  font-size: 1rem;
}

.input {
  padding: 0.5rem;
}

.input input {
  box-shadow: 0 0 0 30px white inset;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.prefixIcon {
  color: gray !important;
  margin-inline-end: 0.5rem;
}

.footer {
  margin-top: 1rem;
  text-align: center;
}

.submitButton {
  height: auto;
  width: 60%;
}

.textLogo {
  object-fit: cover;
  height: auto;
  width: 16rem;
  margin: 1rem;
}
