@import '../../../styles/globals.scss';

.pos {
  cursor: pointer;
}

.pos.active {
  background: rgba(255,255,255,0.2);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
}

.pos:hover {
  background-color: $dark;
  border-radius: 0.24em;
}

.driver {
  cursor: pointer;
}

.driver.active {
  background: $dark;
  box-shadow: inset 0 0 10px rgba($color: #000000, $alpha: 0.4);
}

.driver:hover {
  background-color: $dark;
  border-radius: 0.24em;
}

.addBtn {
  float: left;
}

.listHeader {
  padding-bottom: 1rem;
}
