@import '../../../styles/globals.scss';

.footer {
  text-align: center !important;
  padding: 0 24px !important;
  background-color: $dark !important;
}

.masarLogo {
  background: linear-gradient(to right, #009cff, #aa81f3);
  -webkit-text-fill-color: transparent;
  background-clip: inherit;
  -webkit-background-clip: text;
  font-weight: bold;
}
