@import '../../../styles/globals.scss';

.footer {
  text-align: center;
  padding: 0 24px !important;
  background-color: $dark !important;
}

.tabContent {
  width: 250px;
  height: 320px;
  border-radius: 0 !important;
}
