.container {
  overflow: hidden;
  text-align: center;
  border-radius: 0.5rem;
  color: black;
  padding: 0 0 0.5rem 0;
  // border: 1px solid;
  box-shadow: 0 0 0.6rem #ddddddb3;
  background-color: white;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  width: 40%;
  text-overflow: ellipsis;
  justify-content: center;
  padding: 0.5rem 1rem 0 1rem;
  float: right;
  text-align: start;
}

.action {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem 0 1rem;
  float: left;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.button {
  box-shadow: 0 0 0.6rem #ddddddb3 !important;
}
