.innerLayoutLeft {
  padding-left: 200px;
  max-height: 100vh;
  overflow-y: scroll;
}

.innerLayoutLeftMobile {
  padding-left: 80px;
  max-height: 100vh;
  overflow-y: scroll;
}

.innerLayoutRight {
  padding-right: 200px;
  max-height: 100vh;
  overflow-y: scroll;
}

.innerLayoutRightMobile {
  padding-right: 80px;
  max-height: 100vh;
  overflow-y: scroll;
}
