.layoutOuterContent {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 280;
  max-height: calc(100vh - 3rem);
  overflow: auto;
}

.layoutInnerContent {
  flex-grow: 1;
  height: 100%;
}

.overflowAuto {
  overflow: auto;
  box-shadow: inset 0 0 20px 0 rgba(35, 42, 50, 0.2);
}
