@import '../../../styles/globals.scss';

.trip {
  cursor: pointer;
}

.trip.active {
  background: #AA81F3;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
}

.trip:hover {
  background-color: $dark;
}
.trip.active:hover {
  background: #9562f0;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
}
