@import '~antd/dist/antd.dark.less';

@primary-color: #aa81f3; // primary color for all components
@link-color: #009cff; // link color
@success-color: #82d138; // success state color
@warning-color: #faad14; // warning state color
@error-color: #fe594c; // error state color
@font-size-base: 14px; // major text font size
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 0.42em; // major border radius
@border-color-base: rgba(255, 255, 255, 0.3); // major border color

//colors
@dark-bg-1: #4e5c6d;
@dark-bg-2: #404b59;
@dark-bg-21: #39434f;
@dark-bg-3: #232a32;

// dark
@body-background: @dark-bg-2;
@popover-background: @dark-bg-2;
@component-background: #323b46;
@menu-dark-bg: @dark-bg-1;

// layout
@layout-header-background: @dark-bg-1;
@layout-body-background: @dark-bg-2;
@layout-header-height: 40px;
@layout-sider-background: #475463;

// table
@table-row-hover-bg: @dark-bg-21;
@table-header-bg: @dark-bg-3;
@border-color-split: rgba(255,255,255,0.1); // split border inside a component

// inputs
@input-border-color: rgba(255, 255, 255, 0.3);

// modals
@modal-header-bg: @dark-bg-1;

// menu
@menu-horizontal-line-height: 40px;

.ant-image-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ant-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ant-input-search-rtl > .ant-input-group > .ant-input-group-addon .ant-input-search-button {
	border-radius: 10px 0 0 10px !important;
}

// override table header raduis in rtl
.ant-table-wrapper-rtl .ant-table-container table > thead > tr:first-child th:first-child {
	border-top-left-radius: 0 !important;
	border-top-right-radius: @border-radius-base !important;
}

.ant-table-wrapper-rtl .ant-table-container table > thead > tr:first-child th:last-child {
	border-top-right-radius: 0 !important;
	border-top-left-radius: @border-radius-base !important;
}

// disable latest row border
.ant-table-tbody > tr::last-child > td {
	border-bottom-width: 0px;
}

// custom buttons colors
.ant-btn.ant-btn-primary {
  background: linear-gradient(135deg, @link-color, @primary-color ) !important;
	transition: all 0.4s ease-in-out;
	border: none !important;
	color: white !important;
}
.ant-btn.ant-btn-info {
	background-color: @link-color;
	border: none !important;
	color: white !important;
}
.ant-btn.ant-btn-success {
	background-color: @success-color;
	border: none !important;
	color: white !important;
}
.ant-btn.ant-btn-warning {
	background-color: @warning-color;
	border: none !important;
	color: white !important;
}
.ant-btn.ant-btn-error {
	background-color: @error-color;
	border: none !important;
	color: white !important;
}
.ant-btn.ant-btn-info:hover {
	background-color: darken(@link-color, 5%);
}
.ant-btn.ant-btn-success:hover {
	background-color: darken(@success-color, 5%);
}
.ant-btn.ant-btn-warning:hover {
	background-color: darken(@warning-color, 5%);
}
.ant-btn.ant-btn-error:hover {
	background-color: darken(@error-color, 5%);
}
.ant-btn.ant-btn-icon-only.ant-btn-ghost {
	border-width: 0;
}

// ant page header
.ant-page-header { border-radius: @border-radius-base; margin-bottom: 1em; }