// globals
.h-100vh {
  height: 100vh;
}
.flex-grow-1 {
  flex-grow: 1;
}
.d-flex {
  display: flex;
  align-items: center;
}
.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}
.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
.p-0 {
  padding: 0 !important;
}
border-bottom-0 {
  border-bottom: 0 !important;
}
border-right-0 {
  border-right: 0 !important;
}
border-left-0 {
  border-left: 0 !important;
}
border-top-0 {
  border-top: 0 !important;
}
// mapbox customization
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.mapboxgl-ctrl-group {
  background: #d7dce3;
}
.mapboxgl-ctrl-geocoder {
  border-radius: 0.2em;
  background: #d7dce3;
}

// mapboxgl-popup
.mapboxgl-popup-content h3 {
  color: #aa81f3;
}
.mapboxgl-map {
  font-family: 'tajawal';
}
// .mapboxgl-popup-content {
//   background-color: #aa81f3;
//   color: #aa81f3;
// }
// .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
//   border-top-color: #aa81f3;
// }

// customizr filter calender
.filterPopover .ant-popover-inner-content {
  padding: 0;
}
.filterPopover .ant-picker-calendar-mode-switch {
  display: none;
}
.filterPopover .ant-picker-calendar-mini {
  border-radius: 0;
}
// .filterPopover .ant-picker-calendar-header {
// 	padding-top: 0;
// 	padding-left: 0;
// 	padding-right: 0;
// }
.filterPopover .ant-picker-body {
  padding-bottom: 0;
}
.filterPopover .ant-tabs-tab {
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.filterPopover
  .ant-tabs-right
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane,
.ant-tabs-right
  > div
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding: 0 !important;
}

// custom sidebar
.manageSidebar .tripsList {
  padding: 0 1rem;
}
.manageSidebar .tripsList .ant-list-item {
  padding: 8px 0;
}

.manageSidebar .tripsList .ant-list-items {
  height: 150px;
  overflow: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.42rem;
  background: rgba(0, 0, 0, 0.05);
}

.manageSidebar .possList,
.driversList {
  padding: 0 1rem;
}
.manageSidebar .possList .ant-list-header { padding-top: 0;}
.manageSidebar .possList .ant-list-item {
  padding: 8px 0;
}

.manageSidebar .possList .ant-list-items {
  height: 100%;
  overflow: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.42rem;
  background: rgba(0, 0, 0, 0.05);
}

.driversList {
  margin: 1rem 0;
}

// avatar
.avatar-popover .ant-popover-inner-content {
  padding: 0;
}

input:-internal-autofill-selected  {
  background-color: red !important;
}
.mapboxgl-popup-content h3 {
  margin-bottom: 0;
}