$primary-z-index: 1000;
$secondary-z-index: 999;
$basic-z-index: 998;
$primary-color: #022e57;
$secondry-color: #ff96ad;
$link-color: #005a8d;
$dark: #4E5C6D;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Tajawal', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.5);
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255,0.7);
}

.ant-table-filter-dropdown-btns {
  padding: 0.5rem;
}
