@import '../../../styles/globals.scss';

.trip {
  cursor: pointer;
}

.trip.active {
  background: #aa81f3;
  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.1);
}

.trip:hover {
  background-color: $dark;
  border-radius: 0.24em;
}
.trip.active:hover {
  background: #9562f0;
}

.pos {
  cursor: pointer;
}

.pos.active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
}

.pos:hover {
  background-color: $dark;
  border-radius: 0.24em;
}

.listHeader {
  display: flex;
  justify-content: space-between;
}
